.entete {
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    background: #1a1e3b;
    color: #3E342C;

}

.entete a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
}